$color_brow: rgba(170, 132, 83, 255);
$color_blue: rgba(24, 27, 28, 255);
$color_white: rgba(255, 255, 255, 255);
$background_color_gray: rgba(242, 242, 242, 255);
$background_color_white: rgba(255, 255, 255, 255);
$title_section: rgba(24, 27, 28, 255);
$color_subtitle: rgba(30, 34, 35, 255);
$color_paragraph: rgba(119, 119, 119, 255);
$padding_top_section: 100px;
$padding_bottom_section: 100px;
$border: 3px solid $color_brow;
$box_shadow: 1px 1px 5px $color_brow;
